

.image-container img {
    height: 250px; 
    width: 250px; 
    object-fit: cover; 
    border: 1px solid #DDD;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.btn-primary, .btn-danger {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.btn-primary:hover, .btn-danger:hover {
    opacity: 0.9; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

input[name="quantity"] {
    display: inline-block;
}